<link rel="stylesheet" href="https://www.canvasxpress.org/dist/canvasXpress.css"type="text/css"/>
<script type="text/javascript"src="https://www.canvasxpress.org/dist/canvasXpress.min.js"></script>

<div>
  <h1>CanvasXpress Dynamic Chart</h1>

  <center>
    <table>
      <tr>
        <td><canvas id='canvasId' width='540' height='540'></canvas></td>
      </tr>
    </table><br>
  </center>
</div>

<script>
  var cx3 = new CanvasXpress('canvasId',
    gon.data_set.data,
    gon.data_set.config
  );
</script>
